@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --colorPrimary: #4db5ff;
  --colorSecondary: #000080;
  --colorVariant: #7865ff;
  --colorWhite: #fff;
  --colorLight: rgba(255, 255, 255, 0.6);
  --colorHeading: #273746;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
  --fontPoppins: "Poppins", sans-serif;
  --grandientBg: linear-gradient(
    to right top,
    #41f9ff,
    #00e6ff,
    #00d1ff,
    #00bcfd,
    #21a6f3
  );
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

/*=========General Style==============*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.button {
  width: max-content;
  display: inline-block;
  color: var(--colorWhite);
  background: var(--colorVariant);
  padding: 0.75rem 1.4rem;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: var(--transition);
  font-family: var(--fontPoppins);
}

.button:hover {
  background: var(--colorWhite);
  color: var(--colorBg);
  border-color: transparent;
}

.button-primary {
  background: var(--colorSecondary);
  color: var(--colorWhite);
}

.button-white {
  background-color: var(--colorWhite);
  color: var(--colorHeading);
}

.button-white:hover {
  background-color: var(--colorHeading);
  color: var(--colorWhite);
}
