@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --colorPrimary: #1b9efb;
  --colorSecondary: #bb18f9;
  --colorVariant: #1b9efb;
  --colorWhite: #f4f4f4;
  --colorLight: rgba(255, 255, 255, 0.6);
  --colorBg: #0e1b31;
  --colorText: #333;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
  --fontPoppins: "Poppins", sans-serif;
  --grandientBg: linear-gradient(
    to right top,
    #41f9ff,
    #00e6ff,
    #00d1ff,
    #00bcfd,
    #21a6f3
  );
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.7;
  background-color: var(--colorBg);
}

/*=========General Style==============*/
section {
  min-height: 100vh;
  padding: 0rem 7% 2rem;
  margin: 0;
  position: relative;
}

.section-title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--colorWhite);
  font-weight: 600;
  text-align: center;
}

.section-title h1::before {
  content: "";
  width: 10%;
  height: 3px;
  background-color: var(--colorPrimary);
  position: absolute;
  margin-top: 4.5rem;
  left: 50%;
  transform: translate(-50%);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(0, 0, 0, 0.6);
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.5 ease;
}

.btn-primary {
  background-color: var(--colorPrimary);
  color: white;
  border: 2px solid transparent;
}

.btn-secondary {
  background-color: transparent;
  color: var(--colorPrimary);
  border: 2px solid var(--colorVariant);
}

.btn-primary:hover {
  background: transparent;
  border: 2px solid var(--colorPrimary);
  color: var(--colorPrimary);
  transition: 0.5s ease;
}

.btn-secondary:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  transition: 0.5s ease;
}
